@model IEnumerable<eCB_Transport.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else if (User.IsInRole("Customer"))
{
    <p>
        <a asp-action="Create">Book your Ticket</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Ticket ID
            </th>
            <th>
                Route ID
            </th>
            @if (User.IsInRole("Administrator"))
            {
                <th>
                    User ID
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteId)
                    </td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                    }
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
